<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link"> create Employee</a>
    </li>
  </ul>
</nav>

<h1 class="text-center" style="color: blue;">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div div class="footer">
  <div class="container">
    <span>All rights reserve</span>

  </div>
</div>